# Lists (list)

A good resource - https://automatetheboringstuff.com/chapter4/

- use square brackets, i.e. [1, 2, 3, 4, 5]
- ordered collection of data
- just like like a tuple, except they are **mutable**
- very useful - you'll generally use these instead of tuples.
- best for storing some data that will likely change - either the size of the data or the values.
    - i.e. a shopping list
 


**mutable** - an object's state may change.

Tuples are immutable, anything we do to them will return a **new** tuple.

** Note: the id() function returns a unique number for every object in memory.**

if two objects have the same id, they are literally the same object.
Objects can be *equal* but have different ids.  This means that the computer is storing each one in a separate place in memory.

In [1]:
t1 = (1, 2, 3, 4)
id(t1)

4364999800

In [2]:
t1 += (6, 7, 8)

In [10]:
id(t1) # a new object is created to hold the resulting tuple

4355550432

In [5]:
l1 = [1, 2, 3, 4]
id(l1)

4365021704

In [11]:
l1 += [5, 6, 7]
id(l1)  # same object!  the original list has changed.

4365021704

## Why should I care about mutability?
- not paying attention can bite you!
- passing a mutable object into a function has the possiblity of changing the orignal object.
- Same goes for mutable objects assigned to variables.

For this reason, when designing your functions it's best to not have any side effects when possible.  If you need to transform some data, return a new list containing the transformed data rather than changing the original.

In [13]:
# Proof
from examples import mystery_function

In [14]:
example_list = [10, 9, 8]
example_tuple = (10, 9, 8)

In [15]:
mystery_function(example_list)

[10, 9, 8, 0, 1, 2, 3, 4]

In [16]:
mystery_function(example_tuple)

(10, 9, 8, 0, 1, 2, 3, 4)

In [17]:
example_list

[10, 9, 8, 0, 1, 2, 3, 4]

In [18]:
example_tuple

(10, 9, 8)

Lists have a few methods built in that will **mutate** the list itself.  These include:
- append
- clear
- extend
- insert
- pop
- remove
- reverse
- sort

Most are self explanitory.  Pick one and look up the documentation using help()

## Converting between lists and strings

To convert back and forth between strings and lists we can use **split** and **join**.  Both of these are string methods.

**Note** passing any iterable (aka collection) to `list()` will work just like tuple()

In [19]:
text = 'hello there this is some sentence.'

In [23]:
# To get just the words, separate the string by spaces.
words = text.split(' ')
words

['hello', 'there', 'this', 'is', 'some', 'sentence.']

In [21]:
# you can split at any string
text.split('e')

['h', 'llo th', 'r', ' this is som', ' s', 'nt', 'nc', '.']

In [22]:
# To go the other way, from list -> string we use str.join

In [24]:
' '.join(words)

'hello there this is some sentence.'

In [25]:
'_'.join(words)

'hello_there_this_is_some_sentence.'

In [26]:
alphabet = list('abcdefghijklmnopqrstuvwxyz')

In [27]:
alphabet

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

## Basic Indexing

To retrieve a value from based on its position in an ordered collection (list, tuple, str), we use the bracket notation:

Indexes start at 0 and increment by one.  To refer to items based on their position from the **end** of a list, we use negative numbers.

some_data**[index]**

i.e.
words[0] - would return the first word in the list

word[-1] - last word

word[3] - **fourth** word, since indexes start at 0

In [36]:
words_original = 'Four score and seven years ago'
words = words_original.split(' ')

In [37]:
words_original[7] # Strings can be indexed too, but always return a single character

'o'

In [29]:
words[0]

'Four'

In [30]:
words[-1]

'ago'

In [46]:
words[len(words)-1]

'ago'

We can overwrite items based on their position as well.

In [53]:
words[0]

'Four'

In [54]:
words[0] = 'Five'

In [55]:
words

['Five', 'score', 'and', 'seven', 'years', 'ago']

### Question:  What is the 16th letter of the alphabet?  What index would you use to retrieve that from a list/string?

How would you refer the second to last item in a list?

## Advanced Indexing

If we are not looping through a whole collection, sometimes it's useful to just pull out a portion of the list based on its position.  We can do this through indexing.

**Format**:  data[**start**:**stop**:**step**]
- start: The position we want to start at. (default is 0, or beginning of the list)
- stop: the position we stop **BEFORE** (default is len(data), or the very end of the list)
- step: what we increment by (default is 1)

You can omit any/all of the start:stop:step and python will assume the default values.

In [39]:
# first five letters:
alphabet[0:5:1]

['a', 'b', 'c', 'd', 'e']

In [51]:
# first five letters reversed
alphabet[5:0:-1]

['f', 'e', 'd', 'c', 'b']

In [47]:
# last five letters
alphabet[-5:len(alphabet):1]

['v', 'w', 'x', 'y', 'z']

In [48]:
# Same as above, but leaving out the defaults
alphabet[-5:]

['v', 'w', 'x', 'y', 'z']

#### Note:  Slices return a new list.  Mutating a slice will not affect the original list.

In [65]:
first_ten = alphabet[:10]
first_ten

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [68]:
first_ten[0] = 'Eh'
first_ten # this slice is changed

['Eh', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [71]:
alphabet[0] # The original list is not.

'a'

In [72]:
# The easiest way to make a copy of a list:
duplicate = alphabet[:]

In [73]:
id(duplicate) == id(alphabet)

False

In [74]:
duplicate is alphabet

False

### Question:  How would you split the alphabet in half?

In [62]:
from string import ascii_lowercase

In [63]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'