# Lists (list)

A good resource - https://automatetheboringstuff.com/chapter4/

- use square brackets, i.e. [1, 2, 3, 4, 5,]
- ordered collection of data
- just like like a tuple, except they are **mutable**
- very useful - you'll generally use these instead of tuples.
- best for storing some data that will likely change - either the size of the data or the values.
    - i.e. a shopping list
 


**mutable** - an object's state may change.

Tuples are immutable, anything we do to them will return a **new** tuple.

** Note: the id() function returns a unique number for every object in memory.**

if two objects have the same id, they are literally the same object.
Objects can be *equal* but have different ids.  This means that the computer is storing each one in a separate place in memory.

In [75]:
t1 = (1, 2, 3, 4)
id(t1)

4366898344

In [76]:
t1 += (6, 7, 8)

In [79]:
t1

(1, 2, 3, 4, 6, 7, 8)

In [82]:
id(t1) # a new object is created to hold the resulting tuple

4364891640

In [83]:
l1 = [1, 2, 3, 4]
id(l1)

4366688968

In [84]:
l1 += [5, 6, 7]
id(l1)  # same object!  the original list has changed.

4366688968

## Why should I care about mutability?
- not paying attention can bite you!
- passing a mutable object into a function has the possiblity of changing the orignal object.
- Same goes for mutable objects assigned to variables.

For this reason, when designing your functions it's best to not have any side effects when possible.  If you need to transform some data, return a new list containing the transformed data rather than changing the original.

In [85]:
# Proof
from examples import mystery_function

In [86]:
example_list = [10, 9, 8]
example_tuple = (10, 9, 8)

In [87]:
mystery_function(example_list)

[10, 9, 8, 0, 1, 2, 3, 4]

In [88]:
mystery_function(example_tuple)

(10, 9, 8, 0, 1, 2, 3, 4)

In [89]:
example_list

[10, 9, 8, 0, 1, 2, 3, 4]

In [90]:
example_tuple

(10, 9, 8)

In [94]:
list(1)

TypeError: 'int' object is not iterable

Lists have a few methods built in that will **mutate** the list itself.  These include:
- append
- clear
- extend
- insert
- pop
- remove
- reverse
- sort

Most are self explanitory.  Pick one and look up the documentation using help()

In [204]:
help(list.pop)

Help on method_descriptor:

pop(...)
    L.pop([index]) -> item -- remove and return item at index (default last).
    Raises IndexError if list is empty or index is out of range.

In [191]:
a = [3, 8, 1, 2, 2, ]

In [200]:
a.index(8)

4

In [194]:
position

1

In [201]:
a.sort()

In [202]:
a

[1, 2, 2, 3, 8]

In [95]:
help(list.remove)

Help on method_descriptor:

remove(...)
    L.remove(value) -> None -- remove first occurrence of value.
    Raises ValueError if the value is not present.

In [97]:
a = [1, 2, 3]

In [101]:
a.pop(0)

1

In [100]:
a[0]

1

In [99]:
a

[1, 2]

## Converting between lists and strings

To convert back and forth between strings and lists we can use **split** and **join**.  Both of these are string methods.

**Note** passing any iterable (aka collection) to `list()` will work just like tuple()

In [ ]:
text = 'hello there this is some sentence.'

In [103]:
# To get just the words, separate the string by spaces.
words = text.split(' ')
words

['hello', 'there', 'this', 'is', 'some', 'sentence.']

In [106]:
# you can split at any string
text.split('zz')

['hello there this is some sentence.']

In [ ]:
# To go the other way, from list -> string we use str.join

In [113]:
original_message = ' '.join(words)
original_message

'hello there this is some sentence.'

In [111]:
words

['hello', 'there', 'this', 'is', 'some', 'sentence.']

In [109]:
'_!!'.join(words)

'hello_!!there_!!this_!!is_!!some_!!sentence.'

In [ ]:
alphabet = list('abcdefghijklmnopqrstuvwxyz')

In [ ]:
alphabet

In [114]:
# try to convert some text to snake_case
text = 'hello this will be formated'
result = 'hello_this_will_be_formatted'

In [116]:
# using lists
as_list = text.split(' ')
snake_case = '_'.join(as_list)
snake_case

'hello_this_will_be_formated'

In [117]:
# using just str methods
text.replace(' ', '_')

'hello_this_will_be_formated'

In [118]:
import string

In [119]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [122]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

## Basic Indexing

To retrieve a value from based on its position in an ordered collection (list, tuple, str), we use the bracket notation:

Indexes start at 0 and increment by one.  To refer to items based on their position from the **end** of a list, we use negative numbers.

some_data**[index]**

i.e.
words[0] - would return the first word in the list

word[-1] - last word

word[3] - **fourth** word, since indexes start at 0

In [142]:
words_original = 'Four score and seven years ago'
words = words_original.split(' ')

In [124]:
words

['Four', 'score', 'and', 'seven', 'years', 'ago']

In [125]:
words[0]

'Four'

In [128]:
len(words)

6

In [129]:
words[6]

IndexError: list index out of range

In [132]:
words[len(words)-1]

'ago'

In [134]:
words[len(words)-2]

'years'

In [136]:
words[-1]

'ago'

In [137]:
words[-0]

'Four'

In [140]:
idx = words.index('ago')

In [141]:
words.pop(idx)

'ago'

In [ ]:
words[len(words)-1]

In [143]:
words_original[7] # Strings can be indexed too, but always return a single character

'o'

In [144]:
(1, 2, 3, 4)[2]

3

We can overwrite items based on their position as well.

In [145]:
words[0]

'Four'

In [148]:
words[-1] = 'Five'

In [149]:
words

['Five', 'score', 'and', 'seven', 'years', 'Five']

In [150]:
words.pop(2)

'and'

In [153]:
words[2]

'seven'

### Question:  What is the 16th letter of the alphabet?  What index would you use to retrieve that from a list/string?

How would you refer the second to last item in a list?

In [158]:
from string import ascii_lowercase as letters

In [159]:
letters = ascii_lowercase

In [161]:
ascii_lowercase[15]

'p'

## Advanced Indexing

If we are not looping through a whole collection, sometimes it's useful to just pull out a portion of the list based on its position.  We can do this through indexing.

**Format**:  data[**start**:**stop**:**step**]
- start: The position we want to start at. (default is 0, or beginning of the list)
- stop: the position we stop **BEFORE** (default is len(data), or the very end of the list)
- step: what we increment by (default is 1)

You can omit any/all of the start:stop:step and python will assume the default values.

In [184]:
# first five letters:
alphabet[0:5:2]

['a', 'c', 'e']

In [167]:
alphabet[0:5]

['a', 'b', 'c', 'd', 'e']

In [169]:
alphabet[0:5:1]

['a', 'b', 'c', 'd', 'e']

In [171]:
alphabet

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [172]:
alphabet[:]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [164]:
alphabet[5]

'f'

In [176]:
# first five letters reversed
alphabet[::-1]

['z',
 'y',
 'x',
 'w',
 'v',
 'u',
 't',
 's',
 'r',
 'q',
 'p',
 'o',
 'n',
 'm',
 'l',
 'k',
 'j',
 'i',
 'h',
 'g',
 'f',
 'e',
 'd',
 'c',
 'b',
 'a']

In [177]:
ascii_lowercase[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [178]:
start = len(alphabet) - 5

In [179]:
stop = len(alphabet)

In [180]:
alphabet[start:stop]

['v', 'w', 'x', 'y', 'z']

In [182]:
ascii_lowercase[-10:]

'vwxyz'

In [ ]:
# last five letters
alphabet[-5:len(alphabet):1]

In [ ]:
# Same as above, but leaving out the defaults
alphabet[-5:]

#### Note:  Slices return a new list.  Mutating a slice will not affect the original list.

In [185]:
first_ten = alphabet[0:10]
first_ten

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [186]:
id(first_ten)

4366910856

In [187]:
id(alphabet)

4366617416

In [188]:
first_ten[0] = 'Eh'
first_ten # this slice is changed

['Eh', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [189]:
alphabet[0] # The original list is not.

'a'

In [ ]:
# The easiest way to make a copy of a list:
duplicate = alphabet[:]

In [ ]:
id(duplicate) == id(alphabet)

In [ ]:
duplicate is alphabet

### Question:  How would you split the alphabet in half?

In [205]:
from string import ascii_lowercase

In [206]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [ ]:
ascii_lowercase

In [210]:
length = len(ascii_lowercase)
length

26

In [209]:
ascii_lowercase[0:13] # get first half

'abcdefghijklm'

TypeError: slice indices must be integers or None or have an __index__ method

In [219]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [220]:
length = len(ascii_lowercase)

In [227]:
middle_position = length / 2
middle_position  # It's a float!

13

In [228]:
middle_position = int(middle_position)

In [232]:
ascii_lowercase[0:middle_position]

'abcdefghijklm'

In [231]:
ascii_lowercase[middle_position:]

'nopqrstuvwxyz'

In [233]:
first_ten, rest = ascii_lowercase[:10], ascii_lowercase[10:]

In [234]:
first_ten

'abcdefghij'

In [235]:
rest

'klmnopqrstuvwxyz'

## Lists in Lists

In [242]:
list_of_list

[[1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5]]

In [254]:
result

[('a', 'b', 'c', 'd', 'e'),
 ('f', 'g', 'h', 'i', 'j'),
 ('k', 'l', 'm', 'n', 'o'),
 ('p', 'q', 'r', 's', 't'),
 ('u', 'v', 'w', 'x', 'y')]

In [259]:
result[0] # first list in this list of lists

('a', 'b', 'c', 'd', 'e')

In [257]:
result[-1]

('u', 'v', 'w', 'x', 'y')

In [260]:
result[1][1] # second item in second list

'g'

In [261]:
result[1]

('f', 'g', 'h', 'i', 'j')

In [264]:
list(grouper(ascii_lowercase, 4))

[('a', 'b', 'c', 'd'),
 ('e', 'f', 'g', 'h'),
 ('i', 'j', 'k', 'l'),
 ('m', 'n', 'o', 'p'),
 ('q', 'r', 's', 't'),
 ('u', 'v', 'w', 'x'),
 ('y', 'z', None, None)]