## Looping

Very often we will have a collection of data (string, tuple, list, etc) and we want to do something with every value in that list.  Examples include:

- transforming every value in the list, i.e. string to integer, lowercasing everything, or maybe normalizing the data.
- evaluate whether all the items in a list meet a criteria.  I.e. are they all valid inputs?
- 'Reduce' the data in the collection down to a single value.  I.e. get the average or the total.


There are a few ways to accomplish the above in python, the simplest is a **for** loop.  The structure is as follows:

```python

for variable_name in some_collection:
    print(variable_name)
```

In [32]:
a = [1, 2, 3, 4, 5]

In [34]:
for number in a:
    print(number)
    print(-number)
    print('all done')

1
-1
all done
2
-2
all done
3
-3
all done
4
-4
all done
5
-5
all done

First, lets take a look at the range() function:

help(range)

In [35]:
range(10, 20)

range(10, 20)

In [ ]:
val = 10
val += 1

In [36]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [ ]:
[2:10:3]

In [38]:
list(range(2, 10, 3))

[2, 5, 8]

In [ ]:
list(range(10, 20))

In [39]:
for number in range(10, 20):
    print(number)

10
11
12
13
14
15
16
17
18
19

In [40]:
# say hello 10 times
for i in range(10):
    print('hello there!')

hello there!
hello there!
hello there!
hello there!
hello there!
hello there!
hello there!
hello there!
hello there!
hello there!

We can use more than just numbers though.

In [48]:
favorites = ['Davos', 'Hodor', 'Jon', 'Arya']

In [49]:
character = 'Hassan'

In [50]:
for character in favorites:
    print(character, 'probably wont make it to the end')

Davos probably wont make it to the end
Hodor probably wont make it to the end
Jon probably wont make it to the end
Arya probably wont make it to the end

In [47]:
character

'Arya'

In [ ]:
message = character + ' probably...'
print(message)

### Transforming a list

Approach, create a new list to start.  For every item in the original list, transform it and append it to the new one.

In [51]:
# tranform list of character names into the length of each string.

name_lengths = []
for name in favorites:
    length = len(name)
    name_lengths.append(length)

In [55]:
help(list.append)

Help on method_descriptor:

append(...)
    L.append(object) -> None -- append object to end

In [56]:
example = [1, 2, 3, 4]

In [57]:
example.append(5)

In [62]:
example.extend([4, 5])

In [63]:
example

[1, 2, 3, 4, 5, 5, 4, 5]

In [60]:
example += [5]

In [61]:
example

[1, 2, 3, 4, 5, 5]

In [54]:
favorites

['Davos', 'Hodor', 'Jon', 'Arya']

In [52]:
name_lengths

[5, 5, 3, 4]

### Reducing a list down to a single value.
Similar approach to Transformation.  We create a result variable to hold the resulting data and update it as we loop.

In [66]:
favorites

['Davos', 'Hodor', 'Jon', 'Arya']

In [65]:
# Finding the total number of the letter 'o' in the character names

o_count = 0
for name in favorites:
    number = name.count('o')
    o_count += number

In [67]:
o_count

4

In [64]:
help(str.count)

Help on method_descriptor:

count(...)
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [ ]:
result

### Meeting criteria

First, we'll transform the whole list like above.  Then, we can make use of 2 new functions:

- `all` - checks whether every value in a collection is **Truthy**
- `any` - checks whether any values in a collection are **Truthy**

In [69]:
all?

In [ ]:
# Remember 0 and other empty data collections are considered False
all([1, 2, 3])

In [70]:
bool(3)

True

In [71]:
all([0, 1, 2])

False

In [72]:
any([1, 2, 3])

True

In [73]:
all([1, 2, 3])

True

In [ ]:
any([0, 1, 2])

### Checking whether every character has a letter 'o' in it

In [94]:
result = []

for name in favorites:
    has_an_o = 'o' in name
    print('hi')
    continue
    result.append(has_an_o)
else:
    print('yay')

result

hi
hi
hi
hi
yay

[]

In [86]:
not all(result)

True

In [79]:
any(result)

True

In [82]:
all([])

True

In [85]:
a = []

print('looping')
for x in a:
    print('looping')

In [74]:
a = [1, 2, 3, 4]

In [76]:
8383 in a

False

In [ ]:
all(result)

In [ ]:
any(result)

### Practice:

Write a for loop that takes the alphabet, and for every letter prints its position in the alphabet (start at 1). i.e.

'a is #1'

'b is #2'

'c is #3'

Write a loop that iterates over a list of names and returns the total length of all the names.

**Bonus:** Can you do the above without writing a for loop?

## While Loops
instead of looping *over* a collection, we continue executing the loop as long as a condition is true.

Format:

```python
while some_condition:
    print('still looping')
```

### Example: counting to a hundred

More often, you'll use the while loop to do something *until* a certain condition is met.

For example, if we are gathering data from the user:

In [87]:
i = 1
while i < 100:
   print(i)
   i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

```python
user_input = 'not valid to start'

while not_valid(user_input):
    user_input = get_user_input()
    
# Now our code here knows that the user_input variable meets our requirements.
do_something(user_input)
```

### Advanced Looping

There are some extra tools when it comes to looping.  They will become useful after we cover conditials.  For completeness, they are:

- **continue** stop executing the code for the current item in the loop and move on to the next item.
- **break** stop the whole loop early.
- **else** only run this if the whole loop completed successfully.  I.e. no *break*

## Practice #1:

Let's say we're making a mad-libs type game.  We have a list of categories and we'd like to gather a word from the user for every category.

i.e.

['adjective', 'adverb', 'proper noun', 'color', 'part of the body', 'plural noun', 'verb']

Your task is to write a function that generates a list of words matching each category from the user.  You should prompt the user with that category and then store their result.  After you retrieve the whole list you can just print it out for now.

## Practice #2 (hard):

Create a 12x12 multiplication table.  This should be a list of lists.  The output should look something like:

```python
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120],
 [11, 22, 33, 44, 55, 66, 77, 88, 99, 110, 121, 132],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144]]
 ```
 
 You can nest for loops inside one another.  Here's an example:
 
 ```python
 for i in collection:
     for j in another_collection:
         print(i * j)
    
```

Hint: use range()

In [95]:
for char in 'abc':
    for i in range(3):
        print(char, i)

a 0
a 1
a 2
b 0
b 1
b 2
c 0
c 1
c 2